<div class="correccion1  animate__animated animate__fadeIn margenGeneral" (window:scroll)="evento($event)">
 <div *ngIf="this.crudService.loading" align="center" style="height: 100vh">
        <br><br><br><br>
        <img class="loader" src="../../../assets/loading3.gif" width="20%"alt="">
  </div>
<div  class="row" style="margin:0px; padding : 0px">


<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <h5 class="hash"><b> #{{nota.hash}}</b></h5>
        <div style="margin-top:-10px">
        <h1>{{nota.titulo}}</h1>
    </div>
        <h4 class="sub"  [innerHTML]=saltos(nota.subtitulo)></h4>
<hr>
        <div style="display: flex; justify-content: left; margin-left:25px; margin-top:-0px ; margin-bottom:0px; ">
            <div>
                <div  style="display:flex ; align-items: flex-start; margin-top:-5px; margin-left:-32px; margin-right: 5px" >
                    <mat-icon  class="mr-corre mr-2 ml-2 "style="font-size:19px; color:gray">alarm</mat-icon>
                     <div>
                             <h3 class="subtituloResposive2 " style="font-size:11px;  margin-top:-3px; margin-left: -10px;  color:grey;font-family: 'Exo 2', sans-serif;"><b> {{this.fecha}}</b></h3>
                     </div>
                </div>
            </div>


           <div style="margin-top:0px; margin-right: 10px;">

                <div   style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 0px" >
                    <mat-icon class="mr-2"style="font-size:19px; color:gray; ">visibility</mat-icon>
                     <div>
                             <h3  class="subtituloResposive2" style="font-size:11px; margin-top:-3px; margin-left: -10px;  color:gray;font-family: 'Exo 2', sans-serif;"  ><b> {{nota.vistas}}</b></h3>
                     </div>
                </div>
            </div>

           <div style="margin-top:0px; ">

                <div   style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 5px" >
                    <mat-icon class="mr-2"style="font-size:19px; color:gray">account_circle</mat-icon>
                     <div>
                             <h3  class="subtituloResposive2" style="font-size:11px; margin-top:-3px; margin-left: -10px;  color:gray;font-family: 'Exo 2', sans-serif;" >Admin</h3>
                     </div>
                </div>
            </div>

            </div>

<div>
        <app-imagen-loading class="desktopHide" [image]="urlImage" style="width: 100%; border-radius: 4px; object-fit: cover"></app-imagen-loading>
      </div>
<div>
  <app-imagen-loading  class="desktopVisble" [image]="urlImage" style="width: 100%; border-radius: 4px; object-fit: cover"></app-imagen-loading>

</div>



        <div class="text-right">
        <!-- <h6>Imagen: QPM</h6> -->
        <hr>
    </div>

        <p class="descripcion"  [innerHTML]=saltos(nota.descripcion)>

      </p>

        <hr>


<button  class="btn btn-dark" routerLink='/'>Volver</button>
<div class="text-right" style="float:right; margin-top:-10px">
  <!-- <img src="../../../assets/mega.png" alt="" width="50px">
    <img src="../../../assets/LogoQPMSmall.png" alt="" style="width: 90px; margin-right: 10px;"> -->

    <!-- <img src="../../../assets/rockola.png" alt="" width="110px"> -->
</div>
        <hr>
    <div style="display: flex; justify-content: left;">

            <div>



                <div  style="display:flex ; align-items: flex-start; margin-top:-5px; margin-left:-10px; margin-right: 5px" >
                                         <div>

                     </div>
                </div>

               </div>

            <div style="margin-top:0px; margin-right: 10px;">

                <div *ngIf=(nota.descripcion)  style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 5px" >

                     <div>

                     </div>
                </div>
            </div>

            <div style="margin-top:0px; margin-right: 10px;">

                    <div *ngIf=(nota.descripcion)  style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 5px" >

                         <div>

                         </div>
                    </div>
                </div>


            </div>



</div>


 <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 desktopHide" style="background-color: rgb(255, 255, 255);">
     <!-- <h5>tiendas virtuales</h5>  -->
         <app-lateral [data]="this.productos|filtro:this.nota.categoria"></app-lateral>
</div>


</div>



</div>
