@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik:wght@300&display=swap');

h1{
    font-family: 'Oswald', sans-serif; font-size: 40px; line-height: 45px;
    text-shadow:1px 1px 1px rgb(219, 219, 219);

}

p{ font-family: 'Rubik', sans-serif; font-size: 18px ; margin-top:30px}

h4{font-size: 15px!important; margin-top:-5px; line-height: 20px;}

h5{color:rgb(70, 156, 0); font-size: 13px;

}


.desktopVisble{display: none}
.desktopHide{display: block;}

.descripcion{line-height: 29px;}

.imgScroll{display: none; }
.capital::first-letter {

    float: right;
    font-family: 'Source Serif Pro', serif;

    font-size: 65px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 40px;
    color:rgb(18, 105, 0)
  }


  @media  (max-width: 600px){
    .desktopVisble{display: block}
    .desktopHide{display:none!important}

    h1{font-size: 30px!important;     line-height: 35px!important; margin-top:-15px}

h5{color:rgb(145, 145, 145); font-size: 12px!important



}
}



  @media  (max-width: 1000px){


    .correccion1{margin-left: 0px!important; margin-right: 0px!important}
}



