
<!-- CABECERA  -->
<div class="fixed-top text-left noneDesktop">
<a routerLink='/'>
  <img  src="../../../assets/LogoQPM.png" alt="" width="150px">
  </a>
</div>


<div class="flex-container1 barraTopColor fixed-top">

  <div class="flex-container" >
  <mat-icon class="facebook quitar1">facebook</mat-icon>

    <span class="iconify tweet quitar1" data-inline="false" data-icon="foundation:social-twitter"></span>
    <!-- <h1 class="quepasa quitar1" style="color:honeydew">quepasamiramar.<span style="color:rgb(66, 199, 49)">com</span>.ar</h1> -->
    <mat-icon class="IconoBusAcomodo mr-1 poner600" [matMenuTriggerFor]="menu"> stars</mat-icon>
<mat-menu #menu="matMenu"  yPosition="below">
  <button mat-menu-item routerLink="/"><mat-icon>home</mat-icon>Inicio (22)</button>
<!--
  <button mat-menu-item><mat-icon>facebook</mat-icon>Últimas novedades (22)</button>
  <button mat-menu-item><mat-icon>audiotrack</mat-icon>Musica</button>
  <button mat-menu-item><mat-icon>theater_comedy</mat-icon> Teatro</button>
  <button mat-menu-item>Inistitucionales</button>
  <button mat-menu-item>Productores Locales</button> -->

</mat-menu>
    <!--
        <mat-icon class="IconoBusAcomodo mr-3">audiotrack</mat-icon>
        <mat-icon class="IconoBusAcomodo mr-1" >theater_comedy</mat-icon>




    <mat-icon class="IconoBusAcomodo" style="font-size:35px">store</mat-icon>
    <mat-icon class="IconoBusAcomodo" style="font-size:32px; margin-left:12 px">radio</mat-icon>
    <mat-icon class="IconoBusAcomodo">departure_board</mat-icon> -->
 </div>


    <div class="clima">
      <a  (click)="lgModal.show()">
    <app-clima [dia]=0></app-clima>
  </a>
  </div>

</div>

<!-- CABECERA  -->


  <div class="mt-5">

<!-- LOGOS -->
    <div class="margeleftLogo">

                <div>
                  <a routerLink='/'>
                     <img class="imgLogoQpm quitar1" src="../../../assets/LogoQPM.png" alt="" >
                    </a>
                <div class ="text-right logoquepasa">

                  <a href="www.google.com.ar" target="_blank">
                 <img [ngClass]="{ imgScroll: this.crudService.scrolled }" class="correccion5 posicionLogoRamon quitar1"  src="../../../assets/logoramon2.jpg" width="63px"alt="">
                </a>
                 <a href="www.google.com.ar" target="_blank">
                 <img [ngClass]="{ imgScroll: this.crudService.scrolled }" class="correccion5 posicionLogoRockola quitar1"  src="../../../assets/rockola.png" width="150px"alt="">
                 </a>

                </div>

    </div>



    </div>


        <!-- Menu -->
        <div  class="fixed contenedorNavbar correccion1 margenesMenu" >

          <ul>

            <li >
              <div class="flex-container1">
                <!-- <img [ngClass]="{ imgScroll: !this.crudService.scrolled } " src="../../../assets/rockola.png" alt="" style="width:66px;">       -->
                  <a class="menuTexto" >
                        <!-- <mat-icon style="float:left; margin-top:4px; margin-right: 0px" >stars</mat-icon> -->
                         <span [routerLinkActive]="'activo'" [routerLinkActiveOptions]="{exact:  true}" routerLink='/' class="quitar1 menuTexto mt-1">PORTADA</span>
                         <!-- <span class="quitar1 menuTexto mt-1 ml-2"> MUSICA</span>
                         <span class="quitar1 menuTexto mt-1 ml-2"> Teatro</span>
                         <span class="quitar1 menuTexto mt-1 ml-2"> Turismo</span>
                         <span class="quitar1 menuTexto mt-1 ml-2"> Institucional</span> -->
                        </a>
                      <div>
                        <app-player></app-player>
                      </div>
                    </div>
            </li>
          </ul>
        </div>

      </div>



<div style="overflow:hidden!important">
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
   <div class="modal-dialog modal-lg">
     <div class="modal-content ">
       <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left" >
          <h4 >Pronostico del tiempo</h4></h4>
        <!-- <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      <div>
        <img src="../../../assets/nubesol.png" alt="" width="70px">
      </div>
      </div>
      <h4>General Alvarado y zona</h4>
      <div class="modal-body">

      <h5>Hoy<span>Viernes 21 de Mayo</span></h5>
      {{this.clima.dataseries[0].weather}}
      <h5>Mañana</h5>
      {{this.clima.dataseries[1].weather}}
      {{this.clima.dataseries[2].weather}}
      {{this.clima.dataseries[3].weather}}


    <br>
<hr>
      <button class="btn btn-primary" (click)="lgModal.hide()">Chau</button>
<div class="row">




</div>




      </div>
    </div>
  </div>
</div>

</div>
