

  <div class="ColorFondo fixed-top" >
    <div  class="correccion1" style="margin-left:100px">
            <a routerLink='/'>
                <div class="correccion1">

             <img [ngClass]="{ imgScroll: this.crudService.scrolled } " src="../../../assets/LogoQPM.png" alt="" style="width:150px;">
             <div class ="text-right quitar1"style="float:right; margin-top:20px; ">

              <img [ngClass]="{ imgScroll: this.crudService.scrolled }" class="correccion5" style="margin-right:20px; margin-top:-15px " src="../../../assets/logoramon2.jpg" width="63px"alt="">
              <a href="www.google.com.ar" target="_blank">
              <img [ngClass]="{ imgScroll: this.crudService.scrolled }" class="correccion5" style="margin-right:110px;margin-top: -15px;" src="../../../assets/rockola.png" width="150px"alt="">
            </a>

           </div>

            </div>
            </a>


    </div>


        <!-- Menu -->
        <div  class="fixed contenedorNavbar correccion1" style="margin-left:100px; margin-right: 100px">

          <ul style="margin-left: 10px">

            <li >
              <div >
                <!-- <img [ngClass]="{ imgScroll: !this.crudService.scrolled } " src="../../../assets/rockola.png" alt="" style="width:66px;">       -->
                  <a matRipple [matRippleColor]="color" class="menuTexto" [routerLinkActive]="'activo'" style="padding-left:10px!important" [routerLinkActiveOptions]="{exact:  true}" routerLink=''>
                        <mat-icon style="float:left; margin-top:-2px; margin-right: 0px" >stars</mat-icon>
                         <span class="quitar1"> Inicio</span></a>

                         <!-- <a matRipple [matRippleColor]="color" class="menuTexto" [routerLinkActive]="'activo'" style="padding-left:10px!important" routerLink='libros'>
                          <mat-icon style="float:left; margin-top:-2px; margin-right: 0px ;" matBadge="$" matBadgeSize = "small" matBadgeColor="warn">storefront</mat-icon>
                          <span class="quitar1" >Tiendas</span></a> -->
<!--

                         <a matRipple [matRippleColor]="color" class="menuTexto" [routerLinkActive]="'activo'" style="padding-left:10px!important" routerLink='catalogo'>
                        <mat-icon style="float:left; margin-top:-2px; margin-right: 0px">library_music</mat-icon>
                        <span class="quitar1">Cultura</span></a>






                          <a matRipple [matRippleColor]="color" class="menuTexto" [routerLinkActive]="'activo'" style="padding-left:10px!important" routerLink='adm'>
                            <mat-icon style="float:left; margin-top:-2px; margin-right: 0px">movie_creation</mat-icon>
                            <span class="quitar1">Turismo</span></a> -->

            </div>
            </li>

              <!-- <li>  -->

              <!-- Carrito   -->




              <div class="contenedorCarrito"  >


                  <!-- <mat-icon style="color: white; margin-top:6px; margin-right:10px">departure_board</mat-icon>
<mat-icon style="color: white; margin-top:6px; margin-right:10px">search</mat-icon> -->



<!-- <mat-icon class="margenLeft" style="color: white; margin-top:6px; margin-right: -15px">facebook</mat-icon> -->
                 <!-- <mat-icon style="margin-left:5px">facebook</mat-icon>  -->

                <a routerLink=''>
                <!-- <img *ngIf="this.tiendaService.imgCountry" style="margin-right: 10px; width:25px; margin-top:-18px" src="http://192.168.43.55:3000/upload/{{this.tiendaService.imgCountry}}" alt=""> -->

              </a>

                <div style="float:right; margin:0px; margin-top: -5px" >


                    <div style="display: inline-block;">
                      <a matRipple style="margin-top:10px" (click)="lgModal.show()">
                      <app-clima [dia]=0></app-clima>
                    </a>
                  <!-- <img src="../../../assets/nube.png" alt=""  style="margin:5px;width:35px"> -->
                      </div>

              </div>

              <a routerLink='carrito' style="color:black">
                  <!-- <mat-icon matBadge={{contador}} matBadgePosition="after" matBadgeOverlap="true" matBadgeSize="small"
                   matBadgeColor="warn" style="margin-right: 20px">shopping_cart</mat-icon>   -->

                </a>

              </div>


          </ul>
        </div>

      </div>



<div style="overflow:hidden!important">

      <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header " style="background-color: rgba(11, 97, 0, 0); padding: 10px 10px 0px 10px; border-bottom:0px">

        <h4 id="dialog-sizes-name1" class="modal-title pull-left" ><h4 style="margin-left:10px;margin-top:20px; font-family: 'Exo 2', sans-serif;font-size:24px">Pronostico del tiempo</h4></h4>
        <!-- <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
<div style="float:left">
        <img src="../../../assets/nubesol.png" alt="" width="70px" style="margin-right: 20px;">
      </div>
      </div>
      <h4 style="margin-top:-30px; margin-left:21px; color:gray">General Alvarado y zona</h4>
      <div class="modal-body">
        <hr style="margin-top:-20px">
      <h5>Hoy<span>Viernes 21 de Mayo</span></h5>
      {{this.clima.dataseries[0].weather}}
      <h5>Mañana</h5>
      {{this.clima.dataseries[1].weather}}
      {{this.clima.dataseries[2].weather}}
      {{this.clima.dataseries[3].weather}}


    <br>
<hr>
      <button class="btn btn-primary">Chau</button>
<div class="row">




</div>




      </div>
    </div>
  </div>
</div>

</div>
