@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Special+Elite&display=swap');



    .desktopVisble{display: none}
    .desktopHide{display: block;}
    .separadorDesktop{height: 30px; background-color: rgb(233, 233, 233); margin-top:20px; margin-bottom: -20px;}
    .textSeparador{margin-left:10px; color:brown; font-family: 'Exo 2', sans-serif; font-size: 15px;}


    @media (max-width:600px){


      .desktopVisble{display: block}
      .desktopHide{display:none!important}
      .contenedorPadre{ margin-top:-150px}
      .separadorDesktop{margin-bottom: 0px  ;}
      .divPrincipal{margin-top:215px}
      .popo{ margin-top:-10px}
    }
