<div>

                                <!-- SEPARADOR MOBILE -->
                                <div class="desktopVisble separadorDesktop">
                                  <h3 class="textSeparador">
                                    {{nota}}<a style="color: rgb(0, 0, 0);"> | Ver todos</a>
                                  </h3>
                                  </div>
                                  <br>
                        <!-- SEPARADOR MOBILE -->
                        <!-- SEPARADOR DESKTOP -->
                                  <div class="desktopHide separadorDesktop " style="margin-top:-20px">
                                    <h3 class="textSeparador">{{nota}}
                                      <a style="color: rgb(0, 0, 0);"> | Ver todos</a>
                                    </h3>

                                  </div>
                                <!-- SEPARADOR DESKTOP -->
</div>
