<div class="content-image">

    <div class="thumb-overlay" [hidden]="viewImage">
            <img class="loader" src="../../../assets/loading.gif" width="60%"alt="" style=" object-fit: cover">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
     <img  #lImage alt="" [hidden]="!viewImage" style=" height: 160px; object-fit: cover;" >
</div>
