<div class="content-image">

    <div class="thumb-overlay" [hidden]="viewImage">
            <img class="loader" src="../../../assets/loading.gif" width="60%" alt="" style=" object-fit: cover; height:160px">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
     <img  #lImage alt="" [hidden]="!viewImage" style=" height: 200px; object-fit: cover; border-radius: 5px; border: 1px solid rgb(212, 212, 212)" >
</div>
