<!-- <div  (window:scroll)="evento($event)"> -->
<div>

  <div *ngIf="testLoading" class="loaderClass" align="center"  >
    <div>
      <div class="lds-facebook"><div></div><div></div><div></div></div>

  </div>
</div>
<div  class="correccion1 divPrincipal" >
        <div *ngIf ="!testLoading" swScrollPosition='users-loading' class="fondo "> <!-- div contenedor de todo -->
           <div class="row contenedorPadre" >
                  <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 pm0" >
             <div *ngFor='let producto of productos |filtro:"Portada" |filtrox1' class="animate__animated animate__fadeIn ml30">
                      <app-portada  [data]='producto'></app-portada>
                      <br>
                      <!-- <app-footer [data]='producto'></app-footer> -->
                <app-separador [data]="'Últimas Novedades'"></app-separador>
                        <div class="row" style="margin-right:0px; margin-top:-5px">
                             <div *ngFor='let producto of productos|filtrox4 ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px; margin-left:-0px;">
                                 <div class="desktopHide">
                                    <app-bajoportada  [data]='producto' ></app-bajoportada>
                                </div>
                                <div class="desktopVisble">
                                    <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>
                                  </div>
                              </div>
                          </div>


                  <app-separador [data]="'Música'"></app-separador>

                  <div class="row" style="margin-right:0px; margin-top:-5px">
                    <div *ngFor='let producto of productos|filtro:"Musica" ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px; margin-left:-0px;">

                        <div class="desktopHide">
                           <app-bajoportada  [data]='producto' ></app-bajoportada>
                       </div>

                         <div class="desktopVisble">
                           <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>
                         </div>

                     </div>

                 </div>

<!-- Categoria -->
                 <app-separador [data]="'Teatro'"></app-separador>

                 <div class="row" style="margin-right:0px; margin-top:-20px">
                   <div *ngFor='let producto of productos|filtro:"Teatro" ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px; margin-left:-0px;">

                       <div class="desktopHide">
                          <app-bajoportada  [data]='producto' ></app-bajoportada>
                      </div>

                        <div class="desktopVisble">
                          <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>
                        </div>

                    </div>

                </div>

<!-- Categoria -->
<!-- Categoria -->
<app-separador [data]="'Radios'"></app-separador>

<div class="row" style="margin-right:0px; margin-top:-20px">
  <div *ngFor='let producto of productos|filtro:"Radio" ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px; margin-left:-0px;">

      <div class="desktopHide">
         <app-bajoportada  [data]='producto' ></app-bajoportada>
     </div>

       <div class="desktopVisble">
         <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>
       </div>

   </div>

</div>

<!-- Categoria -->
<!-- Categoria -->
<app-separador [data]="'Libros  '"></app-separador>

<div class="row" style="margin-right:0px; margin-top:-20px">
  <div *ngFor='let producto of productos|filtro:"Libros"' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px; margin-left:-0px;">

      <div class="desktopHide">
         <app-bajoportada  [data]='producto' ></app-bajoportada>
     </div>

       <div class="desktopVisble">
         <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>
       </div>

   </div>

</div>

<!-- Categoria -->






                         </div>  <!-- fin tituloOver -->


                  </div> <!-- col End -->


                  <div *ngIf ="!testLoading" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 desktopHide" style="background-color: white; border-radius: 5px; margin-right: 0px!important; padding-right: 15px; ">
                  <app-lateral [data]='productos'></app-lateral>


                  </div>       <!-- fin de colo -->





           </div><!-- row end -->
           <!-- <div *ngFor='let producto of productos|filtro:"Nota" |filtrox1' class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="background-color: white; border-radius: 5px; margin-right: 0px!important; padding-right: 0px"> -->
             <!-- <app-bajoportada [data]='producto'></app-bajoportada> -->
             <!-- </div> -->
        </div> <!-- div contenedor de todo FIN -->
</div><!-- fin -->



</div>
