<div  (window:scroll)="evento($event)">

<div  class="correccion1" style="margin-top:138px; margin-left: 100px; margin-right: 100px;"  >

    <div *ngIf="testLoading" align="center" style="height: 1550px ; z-index: -1!important;" >
        <div>
          <div class="lds-facebook"><div></div><div></div><div></div></div>
          <h5 style="margin-top:-10px">Cargando..</h5>
      </div>
  </div>


        <div *ngIf ="!testLoading" swScrollPosition='users-loading' class="fondo "> <!-- div contenedor de todo -->

           <div class="row" style="margin:0px; padding: 0px">

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9" style=" padding: 0px!important; margin:0px">

                    <div *ngFor='let producto of productos |filtro:"Portada" |filtrox4' class="animate__animated animate__fadeIn">
                      <app-portada [data]='producto'></app-portada>

                                    <div class="desktopVisble" style="background-color: rgb(77, 77, 77); margin-top:15px;" >


                                    <h3 style="color:rgb(255, 255, 255); background-color:rgb(77, 77, 77); font-family:
                                     Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-left: 15px;font-size:15px">
                                     #Ultimas entradas (6) <a href="" style="color: rgb(0, 0, 0);">| Ver todos</a></h3>


                                    </div>
                                    <hr style="padding:0px; margin:0px; margin-top:-15px;">

                                    <div class="row" style="margin-right:0px;">
                                    <div *ngFor='let producto of productos|filtro:"Nota" ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px; margin-left:-0px;">

                                      <div class="desktopHide">
                                           <app-bajoportada [data]='producto' ></app-bajoportada>
                                          </div>
                                          <div class="desktopVisble">


                                           <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>


                                          </div>


                                    </div>
                                    <br>
                               </div>



<!-- bajo bajo portada -->
<!-- <div style="background-color: rgb(77, 77, 77);">
<h3 style="color:rgb(255, 255, 255); background-color:rgb(77, 77, 77); margin-left:15px; font-family:
Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:15px; margin-top: 20px;"> #Cultura (6) <a href="" style="color: rgb(0, 0, 0);">| Ver todos</a></h3>
</div> -->
<div class="row" style="margin:0px; padding: 0px; margin-top:3px; ">
<!-- <div *ngFor='let producto of productos|filtro:"Nota"' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" >
<app-bajo-portada-desktop [data]='producto'></app-bajo-portada-desktop>
</div> -->
</div>
<!-- <div style="background-color: rgb(77, 77, 77);">
  <h3 style="color:rgb(255, 255, 255); background-color:rgb(77, 77, 77); margin-left:15px; font-family:
  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:15px; margin-top: 20px;"> #Cultura (6) <a href="" style="color: rgb(0, 0, 0);">| Ver todos</a></h3>
  </div> -->




<!-- ppio -->
<!-- <br>
<hr style="margin:0px; margin-top: -15px;">
<div style="background-color:teal; ">
<h3 style="color:rgb(255, 255, 255); background-color:teal; font-family:
Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-left: 15px;font-size:16px"> #CINE PAMPEANO | Ver mas</h3>
</div>
<hr style="padding:0px; margin:0px; margin-top:-15px;">

<div class="desktopHide">
   <div class="row" style="margin-right:0px;">
     <div *ngFor='let producto of productos|filtro:"Cultura" |filtrox1 ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:5px; margin-left:0px;">
          <app-bajoportada [data]='producto' ></app-bajoportada>
        </div>
      </div>
</div>
<div class="desktopVisble">
  <div class="row" style="margin-right:0px;">
    <div *ngFor='let producto of productos|filtro:"Cultura" |filtrox4 ' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:5px; margin-left:0px;">
         <app-bajoportada [data]='producto' ></app-bajoportada>
       </div>
     </div>
</div> -->
                               <!-- <div class="row" style="margin:0px; padding: 0px; margin-top:3px">
                                <div *ngFor='let producto of productos|filtro:"Nota"' class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style=" margin-top:5px; padding:0px;">
                      <br>
                                  <app-bajo-portada-mobile [data]='producto'></app-bajo-portada-mobile>






                             </div>

                              </div> -->

<!-- fin -->
                         </div>  <!-- fin tituloOver -->


                  </div> <!-- col End -->


                  <div *ngIf ="!testLoading" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 desktopHide" style="background-color: white; border-radius: 5px; margin-right: 0px!important; padding-right: 15px">

                         <app-lateral [data]='productos'></app-lateral>


                  </div>       <!-- fin de colo -->





           </div><!-- row end -->
           <div *ngFor='let producto of productos|filtro:"Nota" |filtrox1' class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="background-color: white; border-radius: 5px; margin-right: 0px!important; padding-right: 0px">
             <!-- <app-bajoportada [data]='producto'></app-bajoportada> -->
             </div>
        </div> <!-- div contenedor de todo FIN -->
</div><!-- fin -->
 <div class=" as correccion1" >
<img src="../../../assets/bosque3.jpg" alt=""  style="width:100%; object-fit: cover;">
</div>



</div>
