@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Special+Elite&display=swap');

.fondo{
 background: white;
}

.popo{ margin-top:-30px}
.divPrincipal{
  margin-top:148px; margin-left: 250px; margin-right: 250px;
}

.loaderClass{height: 1550px ; z-index: -1!important;}
.contenedorPadre{margin:0px; padding: 0px; margin-top:-120px}
.pm0{ padding: 0px!important; margin:0px; margin-top:0px;}
.ml30{margin-right: 30px;}
.text1 {

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.marginTOP{margin-top:-20px; margin-left:-0px;}
.tituloEncima{ position:absolute;
    bottom:5px;
    font-size: 40px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 0px 10px rgb(0, 0, 0);
    font-family: 'Londrina Solid', cursive;

      }

      .tituloEncima2{
        position: absolute;
        color: orange;
        bottom:40px;
        font-size: 20px;
        text-shadow: 1px 0px 10px rgb(0, 0, 0);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .desktopVisble{display: none}
    .desktopHide{display: block;}
    .separadorDesktop{height: 30px; background-color: rgb(233, 233, 233); margin-top:20px; margin-bottom: -20px;}
    .textSeparador{margin-left:10px; color:brown; font-family: 'Exo 2', sans-serif; font-size: 15px;}

      .tituloOver{

        margin-top:10px; margin-left:15px; margin-right:15px}
      p{margin-top:-10px}
      h2{line-height: 20px; margin-top:-10px}
      .as{margin-left:100px; margin-right: 100px;}
      .loader{width:25%}
      .margenMobile{margin-top:20px; margin-left:-0px;}

      @media  (max-width: 1000px){

        .correccion1{margin-left: 0px!important; margin-right: 0px!important;}
        .loader{width:25%; margin-top:130px}
    }

    @media (max-width:600px){
      .loaderClass{margin-top:100px!important}
      .loader{width:70%; margin-top:60px!important}
      .desktopVisble{display: block}
      .desktopHide{display:none!important}
      .loadingResponsive{margin-top: 10px!important;}
      .ml30{margin-right:0px!important}
      .contenedorPadre{ margin-top:-150px}
      .separadorDesktop{margin-bottom: 0px  ;}
      .divPrincipal{margin-top:215px}
      .popo{ margin-top:-10px}
      .margenMobile{margin-top:0px}
    }
