<div style="width: 100%;" >
<div class="card  divPrincipal" >

    <!-- background-image:url('../../../assets/osrucos.png') -->


        <div style="margin-top:0px; margin-left:0px; margin-right:0px; background-color: rgba(255, 255, 255, 0.733)" >
            <!-- <img class="" src="http://192.168.43.55:3000/upload/{{cut(nota.imagen1)}}" alt="Card image cap" style="padding:0px; height: 200px; object-fit: cover"> -->
            <div class="card-body mb-4 " style="margin-top:30px; padding:0px; border:none; ">
                <div style="margin-top:-27px">
                <p style="color:brown; font-size: 12px;" >#{{nota.hash}}</p>
            </div>
            <a style="color:rgb(255, 255, 255)" routerLink="../articulo/{{nota._id}}" (click)="agregarVista(nota)">
              <h1 class="fuenteTitulo">{{nota.titulo}}</h1>
            </a>
              <div style="margin-top:-28px;">
                <a  routerLink="../articulo/{{nota._id}}" (click)="agregarVista(nota)">
                <app-loadig-image2 [url]="urlImage" style="border-radius:4px;padding:10px; height: 200px; object-fit: cover!important; "></app-loadig-image2>
                </a>
              </div>
               <!-- <p class="card-text fuenteTitulo2" style="color:white; font-size: 14px">Some quick example text to build on the card title</p>  -->
              <!-- <a href="#" class="btn btn-small" style="background-color: orange; color:black">Ver más</a> -->
            <p class="descripcion text4" [innerHTML]=nota.subtitulo></p>


       <app-footer-fecha [data]='nota' > </app-footer-fecha>


            </div>
          </div>


  </div>
</div>
