<div style="border-left: 1px solid rgb(218, 218, 218);">


  <h3 class="ml-3 categoria1">Agrupación Murguera </h3>
  <h1 class="ml-3 titulo1">El viento nos amontona</h1>

  <h5 class="ml-3 subtitulo1">Ya hace algunos meses que funciona en miramar este gran colectivo de artistxs que le pone alegria a nuestras plazas y carnavales.</h5>

  <div style="padding:10px">


    <img src="../../../assets/murga.PNG" alt="" width="400px" >
    <p class="capital" >
      <!-- [innerHTML]=nota?.descripcion -->
      La ciudad de Miramar cuenta desde hace ya un tiempo con la nueva agrupación murguera "El viento nos amontona". Nacida durante los meses de cuarentena, este entusiasta colectivo de artistxs se abrió paso contra viento y pandemia organizando reuniones y ensayos en plazas y parques de nuestra ciudad a medida que las restricciones lo fueron permitiendo.
      El viento nos amontona está conformado por alrededor de 20 artistxs entre músicos percusionistas, cantantes, guitarristas y bailarines que llevan con pasión los colores y la alegría del carnaval a las plazas de nuestro partido. Con una lírica critica característica del género, representan las voces de los sectores populares y de la lucha feminista, visibilizando y poniendo en palabras las problemáticas que vivencia
      voces de los sectores populares y de la lucha feminista.
      <a href="">Ver más..</a>
</p>

</div>
<div class="ml-2">
<app-footer-fecha [data]='nota'></app-footer-fecha>
</div>
</div>

