


<div *ngFor="let producto of nota; let i = index " class="card text-white mb-3 forFiltro" >

        <div class="card-body divGeneral">
          <a style="color:rgb(255, 255, 255)" routerLink="../articulo/{{producto._id}}" (click)="agregarVista(nota)">
           <app-loading-image-lateral class="desktopHide" [url]='"https://www.quepasamiramar.com.ar/upload/" + this.cut(this.producto.imagen1)' style=" border-radius: 4px; object-fit: cover; margin-top:30px; margin:0px!important"></app-loading-image-lateral>
        </a>
          <br>
          <div class="ajusteMargenes">


         <h5 class="categoria">{{producto.categoria}}</h5>
         <a style="color:rgb(255, 255, 255)" routerLink="../articulo/{{producto._id}}" (click)="agregarVista(nota)">
          <h2 class="tituloEncima">{{producto.titulo}}</h2>
          </a>

         <div style="float:left;">


        </div>
         <p class="subtitulo truncar4">{{producto.subtitulo}}</p>


       <app-footer-fecha [data]='producto'></app-footer-fecha>
<hr>
        </div>
      </div>
    </div>

