


<div class="card text-white mb-3 sombra" style="max-width: 100%; border:none; border-radius: 5px; " >

        <div class="card-body" style="background-color:rgb(133, 18, 18)">
         <h5 style="margin-top:-12px; color:rgb(251, 255, 0)">#Tienda Virtual</h5>
         <!-- <h5 style="margin-top:-12px; color:wheat">Tienda Virtual</h5> -->
          <h2 class="tituloEncima">Oliverio Tienda de Libros</h2>
         <div style="float:left">
         <img src="../../../assets/oliverio.PNG" width='100%' height="150px" alt="" style="border-radius: 4px">
        </div>
         <p class="tituloEncima2" style="margin-top:-12px">Oliverio Tienda de libros, es ya una libreria de culto en miramar. Los invitamos a ingresar y mirar el catalogo de ofertas disponibles a la venta online a traves de mercado pago </p>
         <hr style="margin-top:-5px; color:white!important">


         <div style="display: flex; justify-content: left; margin-left:-5px; margin-top:-0px;  ">
          <div>
              <div  style="display:flex ; align-items: flex-start; margin-top:-5px; margin-left:-10px; margin-right: 5px ; margin-bottom:-20px">
                  <mat-icon  class="mr-corre mr-2 ml-3 "style="font-size:19px; color:white">alarm</mat-icon>
                   <div>
                           <h3 class="subtituloResposive2 " style="font-size:11px;  margin-top:-3px; margin-left: -10px;  color:wheat"></h3>
                   </div>
              </div>
          </div>


         <div style="margin-top:0px; margin-right: 10px;">

              <div   style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 0px" >
                  <mat-icon class="mr-2"style="font-size:19px; color:white">visibility</mat-icon>
                   <div>
                           <h3  class="subtituloResposive2" style="font-size:11px; margin-top:-3px; margin-left: -10px;  color:white">3</h3>
                   </div>
              </div>
          </div>

         <div style="margin-top:0px; ">

              <div   style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 5px" >
                  <mat-icon class="mr-2"style="font-size:19px; color:white">payment</mat-icon>
                   <div>
                           <h3  class="subtituloResposive2" style="font-size:11px; margin-top:-3px; margin-left: -10px;  color:rgb(255, 255, 255)">MercadoPago</h3>
                   </div>
              </div>
          </div>

          </div>


      </div>
    </div>


    <div class="card text-white bg-success mb-3" style="max-width: 100%;">
            <div class="card-body" style="background-color: rgb(187, 174, 121)">
             <h5 style="margin-top:-12px; color:rgb(34, 2, 2)">#Publicidad</h5>
             <a routerLink='/oliverio' >
             <h2 class="tituloEncima sombraText" style="color:rgb(0, 0, 0);">Bodegueros</h2>
            </a>
             <h6 style="color:rgb(85, 55, 0) ; letter-spacing: 6px; font-size: 12px;margin-top:-15px" ><b> Vinoteca & foods</b></h6>
             <img src="../../../assets/bodegueros.PNG" width='100%' height="190px" alt="" style="border-radius: 4px">
             <p style="margin-top:10px" class="sombraText">Para los amantes de los buenos vinos llega esta propuesta fresca, cata especialides, y las mejores ofertas disponibles</p>
             <span><a href="" style="color:black">Ver más..</a></span>
          </div>
        </div>



