<div class="row" style="margin:0px; padding:0px; margin-bottom:-10px">   
    <div class="col-4" >
        <div style="margin-top:10px">
            <img src="http://192.168.43.55:3000/upload/{{this.crudService.cut(nota.imagen1)}}" loader="../../../assets/loader.gif"  width="100" height="150">
            

            
        <!-- <img class="sombra2" src="../../../assets/osrucos.png" alt="" width="100%" style="border-radius: 5px; height: 106px; object-fit: cover; "> -->
    </div>
    </div>
    <div class="col-8" style="margin:0px; padding:0px; margin-top:10px">
        <h1 class="fuenteTitulo truncarTitulo">{{nota.titulo}}</h1>
<p class="fuenteTitulo2 truncarDescripcion" style="margin-top:-10px">Indios y gauchos, afrodescendientes y criollos, milicos y pulperos, cuarteleras y cautivas, conviven en las pampas en una época clave de la historia argentina.y criollos, milicos y pulperos, cuarteleras y cautivas, conviven en las pampas en una época clave de la historia argentina.</p>

<h6 style="margin-top:-6px">Autor: <b>Fernando Brittez</b></h6>





<div style="display: flex; justify-content: left; margin-left:0px; margin-top:-0px ">                     
    <div>  
        <div  style="display:flex ; align-items: flex-start; margin-top:-5px; margin-left:-10px; margin-right: 5px" > 
            <mat-icon  class="mr-corre mr-2 ml-2 "style="font-size:19px; color:grey">sell</mat-icon> 
             <div>
                     <h3 class="subtituloResposive2 " style="font-size:12px;  margin-top:-3px; margin-left: -10px;  color:rgb(150, 192, 0)"><b>$1300</b><span></span></h3>
             </div>
        </div>
    </div>
       
    
   <div style="margin-top:0px; margin-right: 10px;">
        
        <div   style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 0px" > 
            <mat-icon class="mr-2"style="font-size:19px; color:grey">delivery_dining</mat-icon> 
             <div>
                     <h3  class="subtituloResposive2" style="font-size:11px; margin-top:-3px; margin-left: -10px;  color:rgb(255, 0, 0)"><b>Gratis</b></h3>
             </div>
        </div>
    </div>
    
   <div style="margin-top:0px; ">
        
        <div   style="display:flex ; align-items: flex-start; margin-top:-5px; margin-right: 5px" > 
            <mat-icon class="mr-2"style="font-size:19px; color:grey">payment</mat-icon> 
             <div>
                     <h3  class="subtituloResposive2" style="font-size:11px; margin-top:-3px; margin-left: -10px;  color:rgb(131, 131, 131)"><b>MercadoPago</b></h3>
             </div>
        </div>
    </div>

    </div> 


    </div>
    


</div>
