
<div class="clasePrincipal">
  <div>
      <div class="primerIcon" >
          <mat-icon  class="mr-corre mr-2 ml-2  stilo">alarm</mat-icon>
           <div>
           <h3 class="subtituloResposive2  fecha">{{this.fecha}}</h3>
           </div>
      </div>
  </div>


 <div class="segundoIcon">

      <div  class="divSegundoIcon" >
          <mat-icon class="mr-2 stilo">visibility</mat-icon>
           <div>
                   <h3  class="subtituloResposive2 vistas">{{nota.vistas}}</h3>
           </div>
      </div>
  </div>

 <div style="margin-top:0px; ">

      <div  class="tercerIcon" >
          <mat-icon class="mr-2 stilo">account_circle</mat-icon>
           <div>
                   <h3  class="subtituloResposive2 vistas">Admin</h3>
           </div>
      </div>
  </div>

  </div>
